.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-card {
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5rem 1rem;
  border-radius: 10px;

  background-color: cornflowerblue;
}
.todo-card > h3 {}
.todo-card > p {}

.todo-card.completed {
  background-color: chartreuse;
}
